@import 'variables';

// libraries
@import '~bootstrap/scss/bootstrap';
@import '~ionicons/dist/css/ionicons';
@import '~slick-carousel/slick/slick';

// partials
@import 'header';
@import 'util';
@import 'ui/elements';
@import 'ui/masks';
@import 'ui/bg';
@import 'ui/dividers';
@import 'ui/text_pop';

body {
  font-family: $opensans;
  font-size: 1rem;
  line-height: 1.7;
  color: #535353;
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
  transition: color .25s ease-in-out;

  &:hover {
    text-decoration: none;
  }
}

#page-wrapper {
  position: relative;
  overflow: hidden;
}

.hero {
  position: relative;
  top: 0;
  z-index: 0;
}

.hero__inner {
  display: flex;
  padding-bottom: 60px;
  width: 100%;
  overflow: hidden;
  min-height: 800px;

  .container {
    z-index: 1;
  }
}

/**
 * Clients section
 */
#clients {
  background-color: #cd2222;

  .section__title {
    color: #fff;

    &:after {
      content: '';
      width: 55px;
      margin: 30px auto;
      height: 2px;
      background-color: #fff;
      display: block;
    }
  }

  .clients-carousel {
    &__carousel-item {
      float: left;
      height: 80px;
      line-height: 60px;
      vertical-align: middle;
      text-align: center;

      img {
        max-height: 80px;
        margin: 0 auto;
        width: auto;
      }
    }

    &.slick-initialized {
      img {
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 0.3s ease 0s, transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
      }
    }

    &.slick--activated {
      .slick-active {
        img {
          transform: translateY(0);
          opacity: 1;
          transition: opacity 0.6s ease 0.1s, transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
        }

        ~ .slick-active {
          img {
            transition-delay: 0.2s, 0.1s;
          }

          ~ .slick-active {
            img {
              transition-delay: 0.3s, 0.2s;
            }

            ~ .slick-active {
              img {
                transition-delay: 0.4s, 0.3s;
              }

              ~ .slick-active {
                img {
                  transition-delay: 0.5s, 0.4s;
                }
              }
            }
          }
        }
      }
    }
  }
}