@import 'variables';

// libraries
@import '~bootstrap/scss/bootstrap';
@import '~ionicons/dist/css/ionicons';
@import '~slick-carousel/slick/slick';

// partials
@import 'header';
@import 'util';
@import 'ui/elements';
@import 'ui/masks';
@import 'ui/bg';
@import 'ui/dividers';
@import 'ui/text_pop';

body {
  font-family: $opensans;
  font-size: 1rem;
  line-height: 1.7;
  color: #535353;
  background-color: #fbfbfb;
}

a {
  text-decoration: none;
  transition: color .25s ease-in-out;

  &:hover {
    text-decoration: none;
  }
}

#page-wrapper {
  position: relative;
  overflow: hidden;
}

.hero {
  position: relative;
  top: 0;
  z-index: 0;
}

.hero__inner {
  display: flex;
  padding-bottom: 60px;
  width: 100%;
  overflow: hidden;
  min-height: 800px;

  .container {
    z-index: 1;
  }
}

.section__title {
  +.symbol {
    margin-bottom: 20px;
    margin-top: -5px;
    display: inline-block;

    &.symbol--line {
      display: inline-block;
      width: 50px;
      height: 2px;
      background-color: #ccc;
    }
  }
}

.logo-wrapper {
  a {
    color: #fff;
    font-family: $opensans;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 1.05rem;
    padding: 24px 0;

    @include media-breakpoint-up(md) {
      padding: 10px 0;
    }

    &:hover {
      color: #fff;
    }

    span {
      &:after {
        content: '';
        border-left: 2px solid #ccc;
        margin: 0 8px 0 4px;
      }
    }

    svg {
      fill: #fff;
      width: 45px;
    }
  }
}

/**
 * Clients section
 */
#clients {
  background-color: #cd2222;

  .section__title {
    color: #fff;

    &:after {
      content: '';
      width: 55px;
      margin: 30px auto;
      height: 2px;
      background-color: #fff;
      display: block;
    }
  }

  .clients-carousel {
    &__carousel-item {
      float: left;
      height: 80px;
      line-height: 60px;
      vertical-align: middle;
      text-align: center;

      .svg {
        max-height: 80px;
        max-width: 200px;
        padding: 0 20px;

        &.puma {
          fill: #fff;
          width: 150px;
        }

        &.cole-haan {
          path {
            fill: #fff;
          }
        }

        &.rockport {
          path {
            fill: #fff;
          }
        }

        &.kvd {
          path {
            fill: #fff;
          }
        }

        &.cwc {
          path {
            fill: #fff;
          }
        }

        &.sephora {
          path {
            fill: #fff;
            width: 150px;
          }
        }

        &.ole {
          path {
            fill: #fff;
          }
        }

        &.nars {
          path {
            fill: #fff;
          }
        }

        &.mjb {
          path {
            fill: #fff;
          }
        }

        &.brookstone {
          path,
          circle {
            fill: #fff;
          }
        }
      }
    }

    &.slick-initialized {
      svg {
        opacity: 0;
        transform: translateY(100%);
        transition: opacity 0.3s ease 0s, transform 0.2s ease 0s, -webkit-transform 0.2s ease 0s;
      }
    }

    &.slick--activated {
      .slick-active {
        svg{
          transform: translateY(0);
          opacity: 1;
          transition: opacity 0.6s ease 0.1s, transform 0.6s ease 0s, -webkit-transform 0.6s ease 0s;
        }

        ~ .slick-active {
          svg {
            transition-delay: 0.2s, 0.1s;
          }

          ~ .slick-active {
            svg {
              transition-delay: 0.3s, 0.2s;
            }

            ~ .slick-active {
              svg {
                transition-delay: 0.4s, 0.3s;
              }

              ~ .slick-active {
                svg {
                  transition-delay: 0.5s, 0.4s;
                }
              }
            }
          }
        }
      }
    }
  }
}

.hover-box {
  display: block;
  color: #fff;
  border-radius: 3px;
  overflow: hidden;
  transition: all 0.2s ease-out;
  text-shadow: none;
  border: none;
  padding: 25px;
  margin-bottom: 0;
  min-height: 180px;
  position: relative;
  background-color: #34495e;

  &:hover {
    background-color: #CD2122;
    color: #fff;
    box-shadow: 0 10px 2px -6px rgba(0,0,0,0.8);
    transform: translateY(-4px);

    > .circle {
      transform: translateX(0);
      opacity: 1;
    }

    > img {
      opacity: 0;
      right: -100%;
    }
  }

  > img {
    width: 110px;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    float: none;
    max-width: none;
    transition: all .2s ease-out;

    &.right {
      right: 0;
    }
  }

  > h3 {
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 20px;
  }

  > p {
    margin-bottom: 0;
    line-height: 1.4;

    &:after {
      content: '';
      height: 3px;
      width: 50px;
      display: block;
      background: #fff;
      margin-top: 22px;
    }
  }

  > .circle {
    background: url(../svg/circle-arr-hover.svg) no-repeat left top;
    width: 187px;
    height: 187px;
    display: block;
    position: absolute;
    bottom: -40px;
    right: -40px;
    transform: translateX(100%);
    opacity: 0;
    transition: all .3s ease-out;
  }
}

#footer {
  background: #2f2f2f;
  color: #d5d5d5;
  padding: 30px 0;
  border-top: 4px solid #fff;
  position: relative;

  .copy {
    position: relative;
    top: 9px;
  }

  .social-icons {
    li {
      display: inline-block;
      font-size: 1.25rem;

      i {
        color: #fff;
        font-size: 1.75rem;
        top: 2px;
        position: relative;
      }

      a:hover i {
        color: #d5d5d5;
      }
    }
  }
}